@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

:root{
  --red:#ff3838;
  --darkblue:#0b356d;
}

hr { display: block; overflow: hidden; border-style: inset; border-width: 1px;}


*{
  font-family: 'Noto Sans', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

header {
	display: flex;
  align-items: center;
  justify-content: flex-start;
}


#navbar {
  position: fixed;
  top:-60px; left: 0; right:0;
  z-index: 1000;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: top 0.3s; 
  padding:1.5rem;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#666;
}

header .navbar a:hover{
  color:var(--red);
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}

.home{
	position: relative;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../images/home-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.2;
}

.home .title {
	position: absolute;
	top: 72vh;
	right: 0;
	text-align: center;
	width: 100%;
	color: #f5f5f5;
}

.home .title h1 {
	font-size: 7.2rem;
	font-family: 'Lora', serif;
	letter-spacing: 2pt;
	margin-bottom: 1rem;
}

.home .title h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 3pt;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 60vh;
  background: var(--darkblue);
}

.contact .categories {
	padding: 2rem 0;
}

.contact .categories a{
  font-size: 2.1rem;
  margin-right: 4rem;
  color:#fff;
  font-weight: bold;
}

.contact .shortcuts {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  gap:1.5rem;
  justify-content: space-between;
  padding: 2rem 0;
}



.contact .shortcuts li {
	list-style: none;
}

.contact .shortcuts li a {
	font-size: 2rem;
  color:#fff;
}

.contact .shortcuts li a span {
	font-weight: bold;
}

.contact .connect-with-us {
	padding: 1rem 0;
}

.contact .connect-with-us a {
	text-decoration: none;
	color: #fff;
	font-size: 3rem;
	margin-right: 2rem;
}

.contact .footer {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  gap:1.5rem;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer .copyright-text p {
	color: #fff;
	font-size: 1.8rem;
}

.footer .copyright-text p span {
	font-weight: bold;
}

.footer .footnotes a {
	font-size: 2rem;
  margin-left: 3rem;
  color:#d3d3d3;
  font-weight: bold;
}



/* media queries for reponsiveness  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  #navbar{
    position: absolute;
    margin-top: 60px;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header #navbar a{
    margin: 1.5rem;
    padding:1rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }
}
